h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}
html{
    background-image: url('farmer.jpg'); 
    background-size: cover;
}



